<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>Board Read</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board Read
                </div>
                <div class="card-body"> <!-- card body start -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">BNO</span>
                        <input type="text" class="form-control" th:value="${dto.bno}" readonly />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">TITLE</span>
                        <textarea class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">WRITER</span>
                        <input type="text" class="form-control" th:value="${dto.writer}" readonly />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">REGDATE</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:SS')}" readonly/>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">MODDATE</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd HH:mm:SS')}" readonly/>
                    </div>
                    <div class="my-4">
                        <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                            <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-primary">LIST</button>
                            </a>
                            <a th:href="|@{/board/modify(bno=${dto.bno})}&{link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">Modify</button>
                            </a>
                        </div>
                    </div>
                </div> <!-- card body end -->
            </div> <!-- card end -->
        </div> <!-- col end -->
    </div> <!-- row end -->

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="my-4 ">
                <button class="btn btn-info addReplyBtn">ADD REPLY</button>
            </div>
            <ul class="list-group replyList">

            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <ul class="pagination replyPaging">

            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/reply.js"></script>

</div> <!-- layout:fragment end -->

<script layout:fragment="script" th:inline="javascript">
    const bno = [[${dto.bno}]]

    const replyList = document.querySelector('.replyList') // 댓글 목록 DOM
    const replyPaging = document.querySelector('.replyPaging') // 페이지 목록 DOM

    function printList(dtoList){
        let str = '';

        if(dtoList && dtoList.length > 0){
            for(const dto of dtoList){
                str += `
                <li class="list-group-item d-flex replyItem">
                    <span class="col-2">${dto.rno}</span>
                    <span class="col-6" data-rno="${dto.rno}">${dto.replyText}</span>
                    <span class="col-2">${dto.commenter}</span>
                    <span class="col-2">${dto.regDate}</span>
                </li>
            `
            }
        }
        replyList.innerHTML = str;
    }


    // 페이지 목록 출
    function printPages(data){
        //pagination
        let pageStr = '';

        if(data.prev){
            pageStr += `
                <li class="page-item">
                    <a class="page-link" data-page="${data.start-1}">PREV</a>
                </li>
            `
        }

        for(let i= data.start; i<=data.end; i++){
            pageStr += `
                <li class="page-item" ${i == data.page?"active" : ""}>
                    <a class="page-link" data-page="${i}">${i}</a>
                </li>
                `
        }

        if(data.next){
            pageStr += `
                <li class="page-item">
                    <a class="page-link" data-page="${data.end +1}">Next</a>
                </li>
            `
        }
        replyPaging.innerHTML = pageStr;
    }


    function printReplies(page, size, goLast){
        getList({bno, page, size, goLast}).then(
            data => {
                printList(data.dtoList); // 목록 처리
                printPages(data);   // 페이지 처리
            }
        ).catch(e => {console.error(e)})
    }
    printReplies(1,10);
</script>