<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
>

<head>
    <title>Board Register</title>
</head>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    register
                </div>
                <div class="card-body">
                    <form action="/board/register" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Title</span>
                            <input type="text" name="title" class="form-control" placeholder="title here" />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Content</span>
                            <textarea class="form-control col-sm-5" rows="5" name="content"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Writer</span>
                            <input type="text" name="writer" class="form-control" placeholder="writer" />
                        </div>
                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>
                </div> <!-- card-body end -->
            </div> <!-- card end  -->
        </div> <!-- col end  -->
    </div> <!-- row end -->
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div><!-- modal-header end -->
                <div class="modal-body">
                    <p>Modal body text goes here</p>
                </div> <!-- modal-body end -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save Change</button>
                </div> <!-- modal-footer end -->
            </div> <!-- modal-content end -->
        </div> <!-- modal-dialog end -->
    </div> <!-- modal end -->
</div> <!-- layout:fragment end -->


<script layout:fragment="script" th:inline="javascript">
    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for(let i = 0; i< errors.length; i++){
            errorMsg += `${errors[i].field} :: ${errors[i].code} \n`
        }
        alert(errorMsg);
    }

    const result = [[${result}]]
    const modal = new bootstrap.Modal(document.querySelector(".modal"))

    if(result){
        modal.show()
    }

</script>